/** 包括reset、font 来源YUI **/
html {
	color: #000;
	background: #FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,th,var,b {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q: before,q: after {
	content: '';
}
abbr,acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input,textarea,select {
	*font-size: 100%; vertical-align:middle;
}
legend {
	color: #000;
}
/* font */
body {
	font-size:12px;
	font:12px/1.5 宋体;margin: auto;
}
select,input,button,textarea {
	font:100% arial,helvetica,clean,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,code,kbd,samp,tt {
	font-family:monospace;
	line-height:100%;
}

img{
	vertical-align:middle;
}
label,button {
	cursor: pointer;
	_cursor: hand;
}
button {
	overflow: visible;
}
abbr[title],acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
input[type="hidden"] {
	display: none!important;
}
.em {
	font-style: italic;
}
.strong{
	font-weight: bold;
}
a {
	color: #000;
	text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover {
	color:#BA2636;text-decoration: underline;
}
h1, .h1 {
	font-size: 18px;
	font-weight: bold;
}
h2, .h2 {
	font-size: 16px;
	font-weight: bold;
}
h3, .h3 {
	font-size: 14px;
	font-weight: bold;
}
h4, .h4 {
	font-size: 12px;
	font-weight: bold;
}
h5, .h5 {
	font-size: 14px;
	font-weight: normal;
}
h6, .h6 {
	font-size: 12px;
	font-weight: normal;
}
.display-none {
	position: absolute;
	visibility: hidden;
	*display: none;
}
.inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	position: relative;
	*position: static;
}
.word-break-all,.break-word {
	word-wrap: break-word;
	overflow: hidden;
}
.clear{ clear:both;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.fl{float:left}
.fr{float:right}
.hc10{height:10px;clear:both;font-size:1px;line-height:1px;}
