<!--.main-wrap,#main End-->
<div class="tac"></div>
<div class="footer_wrap">
	<div class="footer">
		<pw-drag id="footer_segment"/>
		<div class="bottom">
                <a href="">公司简介</a>
                <a href="">公司简介</a>
                <a href="">联系方法</a>
                <a href="">网站地图</a>
		</div>
		<p>© 1997-2013 网易公司版权所有 About NetEase</p>
	</div>
	<div id="cloudwind_common_bottom"></div>
</div>

<!--返回顶部-->
<a href="#" rel="nofollow" role="button" id="back_top" tabindex="-1">返回顶部</a>
<script type="text/javascript" src="{JS_URL}idtabs.js"></script>
<script type="text/javascript" src="{JS_URL}common.js"></script>
</body>
</html>