<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}"/>
<meta name="description" content="{$seo['description']}"/>
<link href="{THEMES_URL}common/css/core.css" type="text/css" rel="stylesheet" />
<link href="{THEMES_URL}common/css/style.css" type="text/css" rel="stylesheet" />
<!--<link href="{JS_URL}megamenu/stylesheets/jquery.megamenu.css" type="text/css" rel="stylesheet" />-->
<script type="text/javascript" src="{JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{JS_URL}idtabs.js"></script>
<script type="text/javascript" src="{JS_URL}megamenu/javascripts/jquery.megamenu.js"></script>
<script src="{JS_URL}layer/layer.min.js"></script>
<script type="text/javascript">
  $(function($){
    var SelfLocation = window.location.href.split('?');
    switch (SelfLocation[1]) {
      case "justify_right":
        $(".megamenu").megamenu({ 'justify':'right' });
        break;
      case "justify_left":
      default:
        $(".megamenu").megamenu();
    }
  });
</script>