<!doctype html>
<html>
<head>
	{template file='head'}
	<link href="{THEMES_URL}common/css/profile.css" rel="stylesheet" />
    <link href="{JS_URL}datepicker/css/datepicker.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrap">
    {template file='header'}
    <div class="main_wrap">
		<div class="bread_crumb">
			<a href="{@url:}" class="home" title="{@C:site.info.name}">首页</a><em>&gt;</em><a href="{@url:profile/index/run}">设置</a>
		</div>
		<div class="cc profile_page">
			<div class="md">
				{template file='profile_left'}
			</div>
			<div class="cm">
				<div class="cw">
					<div class="box_wrap">
                        <div class="content">
                        	<div class="profile_nav">
                        		<ul>
                        			<li class="current"><a href="{@url:profile/password/run}">修改密码</a></li>
                        			<li><a href="{@url:profile/password/question}">安全问题设置</a></li>
                        		</ul>
                        	</div>
                        	<form action="{url('home/member_info/password')}" method="post">
                        	<div class="profile_ct password_list">
                        		<dl class="cc">
                        			<dt>原密码：</dt>
                        			<dd><span class="must_red">*</span><input id="J_old_pwd" type="password" name="info[old_password]" value="" class="input length_5"/><span id="J_tip_oldPwd"></span></dd>
                        		</dl>
                        		<dl class="cc">
                        			<dt>新密码：</dt>
                        			<dd><input data-tips="{$pwdReg}" id="J_newPwd" type="password"  name="info[password]" value="" class="input length_5"  /><span id="J_tip_newPwd"></span></dd>
                        		</dl>
                        		<dl class="cc">
                        			<dt>确认密码：</dt>
                        			<dd><input type="password" name="info[repassword]"  class="input length_5"><span id="J_tip_rePwd"></span></dd>
                        		</dl>
                        		<dl class="cc">
                        			<dt>&nbsp;</dt>
                        			<dd><button type="submit" class="btn btn_submit btn_big mr10" name="dosubmit">提交</button></dd>
                        		</dl>
                        	</div>
                        	</form>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{template file='footer'}