{include Templi::include_html('header','index')}
 <div class="mainbody">
    <div class="main_left">
        <div class="news_detail">
            <h3 class="news_title">{$data['info']['title']}</h3>
            <div class="news_explain">
                <span>{date('Y-m-d H:i:s',$data['info']['ctime'])}</span>
                <span>来源: 新华网</span>
                <span>责任编辑：NN131</span>
                <span>分享到</span>
            </div>
            <div class="news_content">
                {$data['content']['content']}
            </div>
            <div>
                {$data['info']['keywords']}
            </div>
            <span class="hc40"></span>
            <div><img src="{IMG_URL}del/advert.jpg"/></div>
            <span class="hc40"></span>
        </div>
    </div>
    <div class="main_right_leftbd">
        <div style="width: 300px; float: right;">
            <div class="box-hd">
                <h3 class="box-hd-title">热门新闻</h3>
                <span class="box-hd-more"><a href="#">更多</a></span>
            </div>
            <ul class="box-list">
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
            </ul>
        </div>
        <div class="hc10"></div>
        <div class="right-parting"></div>
        <div class="hc20"></div>
        <div style="width: 300px; float: right;">
            <div class="box-hd">
                <h3 class="box-hd-title">热门新闻</h3>
                <span class="box-hd-more"><a href="#">更多</a></span>
            </div>
            <ul class="box-list">
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
                <li><a href="">网易公布四季度未审计财务业绩</a></li>
            </ul>
        </div>
    </div>
</div>
{include Templi::include_html('footer','index')}