{include Templi::include_html('header','index')}
<script type="text/javascript" charset="utf-8" src="/public/js/ueditor/editor_config.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/js/ueditor/editor_all.js"></script>


<script  id="editor" type="text/plain">这里可以书写，编辑器的初始内容</script>
<script>
    var ue = UE.getEditor('editor');
        ue.addListener('ready',function(){
            this.focus();
        });
</script>
{include Templi::include_html('footer','index')}