@charset "utf-8";
/*头尾*/
.clear{ clear:both;
		padding:0px;
		margin:0px;}
a{ cursor:pointer;}
textarea{ overflow:auto;}
.w991{ width:991px; margin:0 auto;}
.hd .icon-bg,.top-nav li,.top-nav li.on,.top-nav,.top-nav .exit-li{ background:url(../images/hd-bg02.gif) no-repeat;}
.hd{background:#e5e5e5 url(../images/hd-bg01.gif) repeat-x left bottom;}
.hd .icon-bg{ background-position:0 -0px; width:714px; height:89px;}
.top-nav{background-position:0 -89px; background-repeat:repeat-x; height:35px;  padding:1px 0 0 1px;}
.top-nav li{ float:left; margin-right:1px; background-position:-149px -148px; height:34px; width:98px; font-size:14px; line-height:34px; font-weight:bold; color:#fff; cursor:pointer; text-align:center;}
.top-nav li a{ color:#fff; text-decoration:none;}
.top-nav li.on{background-position:0px -148px; }
.top-nav .blue a{color:#0059bd;}
.top-nav .exit-li{ background-position:-284px -148px;}
.bottom-4{ height:4px; overflow:hidden;}
.ft{ background:#f1f1f1; height:115px; color:#999999;}
.aboutInfo{ background:#949494; height:26px; line-height:26px; color:#fff; width:100%; margin:0 auto}
.aboutInfo a{ margin:0 12px; color:#fff}
.ft p{ padding:10px 0 0 0;}
.cen-show{ text-align:center;}
.red-03{color:#c20003; text-decoration:none;}
.tMargin20{ margin-top:20px;}
/*二级菜单*/
.sec-hd,.tab-03 .lf-bg{ background:url(../images/bg-x.gif) repeat-x; }
.sec-hd{height:36px; line-height:36px; background-position:0 0;}
.sec-nav{ float:right; font-size:12px;}
.sec-nav li{float:left; color:#b0b0b0;}
.sec-nav li a{color:#242424; margin:0 2px; text-decoration:none;}
.sec-nav li span,.sec-nav li em{ float:left;}
.sec-nav li.on a{ color:#dc0000; border-left:1px solid #b4b4b4; border-top:1px solid #b4b4b4; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8; padding:3px 5px;}
.sec-nav li.on span{ background:url(../images/icon-on.gif) 50% 28.5px no-repeat;  *background:url(../images/icon-on.gif) 50% 28px no-repeat; _background:url(../images/icon-on.gif) 50% 29px no-repeat;}
.inp-ID{height:21px; width:99px; border:1px solid #a8acad; cursor:pointer; margin:7px 0 0 0 ;  float:left; padding-left:5px; line-height:21px;}
/*==============================公告编辑============================*/
.con_bj{ width:990px;
		 height:auto;
		 margin:0 auto;
		}
.con_ann{ width:990px;
		 height:auto;
		 margin:0 auto;
		 padding-bottom:35px;
		}
.con_bja{ width:990px;
		  height:auto;
		  float:left;
		  border:1px #D9D5CA solid;
		  border-top:2px #D2D2D2 solid;
		  background:#F4F4F4;
		  margin-top:40px;
		  padding-bottom:6px;}
.con_list{ width:990px;
		  height:auto;
		  float:left;
		  border:1px #D9D5CA solid;
		  border-top:2px #D2D2D2 solid;
		  background:#F4F4F4;
		  margin:40px 0px 35px 0px;
		  _margin-bottom:0px;
		  padding-bottom:6px;}
.bj_tit{ width:990px;
		 height:30px;
		 padding:5px 0px;
		 font-size:18px;
		 font-family:"黑体";
		 color:#0a0a0a;
		 text-align:center;
		 line-height:30px;}
.bj_ifo{ width:975px;
		 height:auto;
		 margin:0px 6px 0px 6px;
		 _margin:0px 3px 0px 3px;
		 float:left;
		 background:#fff;
		 border:1px #DCDCDC solid;
		 border-top:1px #1D71B1 dashed;}
.bj_ifo2{ width:98%;
		 height:auto;
		 margin:0px 6px 0px 6px;
		 _margin:0px 3px 0px 3px;
		 float:left;
		 padding-bottom:42px;
		 background:#fff;
		 border:1px #DCDCDC solid;
		 border-top:1px #1D71B1 dashed;}
.bj_ifo3{ width:978px;
		 height:auto;
		 margin:0px 6px 0px 6px;
		 _margin:0px 3px 0px 3px;
		 float:left;
		 padding-bottom:42px;
		 background:#fff;
		 border-top:none;}
.ifo_tab{ width:613px;
		  height:auto;
		  margin:0 auto;
		  margin-top:22px;}
.advtype{ width:60px;
		  height:30px;
		  line-height:30px;
		  text-align:right;
		  padding-right:6px;}
.typeobj{ width:146px;
		  height:40px;
		  line-height:30px;
		  text-align:left;
		  margin:0px;}
.type_bd2{ width:146px;
		  height:20px;
		  line-height:20px;
		  font-size:12px;
		  border:1px #7E9DB9 solid;
		  vertical-align:middle;}
.typeobja{ width:370px;
		   color:#999999;
		   height:40px;
		   line-height:20px;
		   text-align:left;
		   padding-left:5px;}
.tycol{ color:#999999;
		width:530px;
		padding-left:15px;
		line-height:30px}
.advmesg{ width:209px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  padding-left:15px;}
.advmesg2{ width:326px;
		  height:30px;
		  line-height:30px;
		  text-align:left;}
.advmesg3{ width:530px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  padding-left:15px;}
.advmesg4{ width:613px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  padding-left:80px;}
.type_bd{ width:144px;
		  height:20px;
		  line-height:20px;
		  font-size:12px;
		  border:1px #7E9DB9 solid;}
.type_menu{ width:68px;
			height:20px;
			line-height:20px;
			color:#CCCCCC;
			border:1px #CCCCCC solid;
			font-size:12px;}
.left{ margin-left:29px;}
.left2{ margin-left:36px;
		_magin-left:18px}
.type_menu2{ width:68px;
			height:20px;
			line-height:20px;
			color:#CCCCCC;
			border:1px #7E9DB9 solid;
			size:12px;
			color:#000;}
.type_text{ width:478px;
		  height:20px;
		  line-height:20px;
		  font-size:12px;
		  border:1px #7E9DB9 solid;}
.mail{ width:600px;
	   height:30px;
	   line-height:30px;
	   color:#0059bd;
	   font-size:12px;
	   font-weight:bold}
.mail_xk{ width:13px;
		  height:13px;
		  vertical-align:middle;}
.adv_edit{ width:613px;
	      height:auto;
		  margin:0 auto;
		  padding-bottom:33px;}
.sub_but{ width:321px;
		  height:auto;
		  float:left;
		  margin:17px 0px 0px 320px;
		  _margin-left:170px;
		  padding-bottom:37px;}
.sub_but2{ width:321px;
		  height:auto;
		  float:left;
		  margin:17px 0px 0px 320px;
		  _margin-left:170px;
		  padding-bottom:37px;
		  padding-left:40px;}		  
.riset{ width:64px;
		height:23px;
		display:block;
		float:left;
		background:url(../images/but01.jpg);
		border:none;
		color:#000;
		line-height:23px;
		cursor:pointer;}
.prev{ width:64px;
		height:23px;
		display:block;
		float:left;
		background:url(../images/but02.jpg);
		border:none;
		color:#000;
		margin-left:19px;
		line-height:23px;
		cursor:pointer;}
.reset{ width:64px;
		height:23px;
		display:block;
		float:left;
		background:url(../images/but03.jpg);
		border:none;
		color:#000;
		margin-left:19px;
		line-height:23px;
		cursor:pointer;}
.riset2{ width:64px;
		height:23px;
		display:block;
		float:left;
		background:url(../images/but01.jpg);
		border:none;
		color:#000;
		line-height:23px;
		margin-left:20px;
		_margin-left:10px;}
.reset2{ width:64px;
		height:23px;
		display:block;
		float:left;
		background:url(../images/but03.jpg);
		border:none;
		color:#000;
		margin-left:25px;
		line-height:23px;}
/*==============================发布公告内容页============================*/
.ann_time{ width:156px;
		   height:30px;
		   line-height:30px;
		   float:left;
		   display:block;
		   text-align:right;
		   padding-right:4px;
		   font-size:12px;
		   }
.ann_type{ width:450px;
		   height:30px;
		   line-height:30px;
		   float:left;
		   display:block;
		   text-align:left;
		   font-weight:bold;
		   padding-left:3px;
		   font-size:12px;
		   }
.ann_text{ width:607px;
		   height:auto;
		   display:block;
		   float:left;}
/*==================高度自适应==============*/
.ann_bd{ width:601px;
		 height:auto;
		 border:1px #7E9DB9 solid;
		 padding:5px;
		 line-height:20px;
		 color:#000;
		 overflow:hidden;
		 }
.ann_but{ width:607px;
		  height:60px;
		  float:left;
		  display:block;
		  text-align:center;
		  }
.return{ width:64px;
		height:23px;
		background:url(../images/but01.jpg);
		border:none;
		color:#000;
		line-height:23px;
		margin:13px 0px 37px 0px;}
/*=========================广告主审核===========================*/
.con_adu{ width:100%;
		  height:auto;
		  float:left;
		  margin:25px 0px 35px 0px;
		  _margin-bottom:0px;
		  border:1px #D9D5CA solid;
		  border-top:2px #D2D2D2 solid;
		  background:#F4F4F4;
		  padding-bottom:6px;}
.con_adu2{ width:100%;
		  height:auto;
		  float:left;
		  margin:25px 0px 0px 0px;
		  border:1px #D9D5CA solid;
		  border-top:2px #D2D2D2 solid;
		  background:#F4F4F4;
		  padding-bottom:6px;}
.con_adu2_1{ width:100%;
		  height:auto;
		  float:left;
		  background:#F4F4F4;
		  padding-bottom:6px;}
.adu_tit{ width:100%;
		 height:30px;
		 padding:5px 0px;
		 font-size:18px;
		 font-family:"黑体";
		 color:#0a0a0a;
		 text-align:left;
		 line-height:30px;
		 padding-left:25px;
		 }
.adu_tab{ width:653px;
		  height:auto;
		  float:left;
		  margin-left:160px;
		  _margin-left:80px;
		  margin-top:38px;}
.adu_td1{ width:192px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  color:#0159BD;
		  font-weight:bold;
		  border:1px #AFC9E2 solid;
		  border-bottom:none;
		  padding-left:18px;
		  background:url(../images/td_bg01.jpg) repeat-x;}
.adu_td1a{ width:192px;
		  height:59px;
		  line-height:59px;
		  text-align:left;
		  color:#0159BD;
		  font-weight:bold;
		  border:1px #AFC9E2 solid;
		  border-bottom:none;
		  padding-left:18px;
		  background:url(../images/td_bg02.jpg) repeat-x;}
.adu_td1b{ width:192px;
		  height:89px;
		  line-height:89px;
		  text-align:left;
		  color:#0159BD;
		  font-weight:bold;
		  border:1px #AFC9E2 solid;
		  border-bottom:none;
		  padding-left:18px;
		  background:url(../images/td_bg03.jpg) repeat-x;}
.adu_td2{ width:460px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  border:1px #DCDCDC solid;
		  border-bottom:none;
		  border-left:none;
		  padding-left:15px;}
.adu_td2a{ width:445px;
		  height:53px;
		  line-height:20px;
		  text-align:left;
		  border:1px #DCDCDC solid;
		  border-bottom:none;
		  border-left:none;
		  padding:3px 15px;
		  overflow:hidden;}
.adu_td2b{ width:445px;
		  height:83px;
		  line-height:20px;
		  text-align:left;
		  border:1px #DCDCDC solid;
		  border-bottom:none;
		  border-left:none;
		  padding:3px 15px;
		  overflow:hidden;}
.adu_tab2{ width:653px;
		  height:auto;
		  float:left;
		  margin:15px 0px 0px 160px;
		  _margin-left:80px;}
.adu_text{ width:431px;
		   height:86px;
		   text-align:left;}
.adu_bd{ width:429px;
		   height:84px;
		   line-height:20px;
		   color:#999999;
		   padding:10px;
		   border:1px #7E9DB9 solid;
		   overflow:hidden;}
.adu_but{ width:80px;
		  height:26px;
		  text-align:center;
		  vertical-align:middle;}
.adu_sub{ width:52px;
		  height:23px;
		  color:#000;
		  line-height:23px;
		  border:none;
		  background:url(../images/but_04.jpg) no-repeat;
		  font-size:12px;}
/*============================管理模板尺寸=========================*/
.temp_tit{ width:886px;
		 height:30px;
		 padding:15px 0px 5px 65px;
		 float:left;
		 }
.temp_tit li{font-size:14px;
		 color:#0a0a0a;
		 text-align:left;
		 line-height:30px;
		 padding-left:30px;
		 font-weight:bold;
		 float:left;
		 }
.temp_tit li span{ width:428px;
				   height:30px;
				   padding-left:240px;
				   font-size:12px;
				   line-height:30px;
				   overflow:hidden;
				   }
.temp_ifo { width:751px;
			height:auto;
			float:left;
			overflow:hidden;
			border-top:1px #ccc dashed;
			border-bottom:1px #ccc dashed;
			padding:15px 0px;}
.temp_ifo ul li{ width:726px;
				 line-height:25px;
				 height:auto;
				 font-weight:bold;
				 margin-top:8px;
				 overflow:hidden;
				 padding-left:25px;
				 }
.temp_ifo ul li span{ width:240px;
					  height:auto;
					  float:left;}
.temp_siz{ height:19px;
		   border:1px solid #a8acad;
		   width:50px;}
.temp_numb{ height:19px;
		   border:1px solid #a8acad;
		   width:80px;}
.temp_upload{ height:19px;
		   border:1px solid #a8acad;
		   width:220px;}
.temp_but{ width:52px;
		   height:23px;
		   line-height:23px;
		   background:url(../images/but_bg.jpg) no-repeat;
		   margin-left:10px;
		   color:#000;
		   text-align:center;
		   border:none;}
.temp_but_02{ width:52px;
		   height:23px;
		   line-height:23px;
		   background:url(../images/but_04.jpg) no-repeat;
		   margin-left:10px;
		   color:#000;
		   text-align:center;
		   border:none;}
.temp_box{ width:951px;
		   height:auto;
		   float:left;}
.mage_tem{ width:811px;
		   height:auto;
		   float:left;
		   padding:0px 55px 0px 85px;}
.temp_tab{ width:811px;
		   height:auto;
		   overflow:hidden;}
.temp_tab a { color:#06C;
			  text-decoration:underline;}
.temp_tab th{ border:1px #b0cae3 solid;
			  color:#0159bd;
			  text-align:center;
			  font-weight:bold;
			  height:32px;
			  line-height:32px;
			  background-color:#E5EEF7;}
.temp_tab td{ border:1px solid #dcdcdc; 
			  color:#0a0a0a; 
			  text-align:center; 
			  height:29px; 
			  line-height:29px;}
.temp_tab .bh{ width:100px;}
.temp_tab .mb_name{ width:195px;}
/*================================开账号==================================*/
.acc_op{ width:555px;
		 height:auto;
		 margin:0 auto;
		 margin-top:30px;}
.op_td1{ width:110px;
		 height:30px;
		 line-height:30px;
		 font-size:12px;
		 text-align:right;}
.op_td2{ width:432px;
		 height:30px;
		 line-height:30px;
		 font-size:12px;
		 text-align:left;
		 padding-left:14px;}
.op_td3{ width:310px;
		 height:30px;
		 line-height:30px;
		 font-size:12px;
		 text-align:left;
		 padding-left:5px;}
.op_td4{ width:103px;
		 height:30px;
		 line-height:30px;
		 font-size:12px;
		 text-align:left;
		 padding-left:14px;}
.op_td5{ width:555px;
		 height:76px;
		 font-size:12px;
		 text-align:right;}
.ophi{ height:60px;
	   overflow:hidden;}
.acc_tx{ width:98px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:5px;
		 overflow:hidden;}
.acc_txar{ width:194px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:5px;
		 font-size:12px;
		 overflow:hidden;}
.acc_qh{ width:34px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:5px;
		 font-size:12px;
		 overflow:hidden;}
.acc_tel{ width:84px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:5px;
		 font-size:12px;
		 overflow:hidden;}
.acc_txar2{ width:323px;
		 height:42px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding:5px;
		 font-size:12px;}
.acc_tx2{ width:424px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:5px;
		 font-size:12px;
		 overflow:hidden;}
.acc_tx3{ width:418px;
		 height:66px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding:5px;
		 font-size:12px;
		 }
.acc_but{ width:64px;
		 height:23px;
		 line-height:23px;
		 border:none;
		 font-size:12px;
		 background:url(../images/but02.jpg) no-repeat;
		 color:#000;}
/*====================添加新支付标准==========================*/
.adv_pay{ width:751px;
		  height:auto;
		  margin:0 auto;
		  margin-top:25px;}
.filter{ padding:10px 30px 10px 92px;
		 font-weight:bold;
		 font-size:12px;
		 font-family:"宋体";}
.filter select{ width:500px;
				margin-left:4px;
				display:inline;}
.pay_td1{ width:88px;
		  height:30px;
		  line-height:30px;
		  text-align:right;
		  font-size:12px;}
.pay_td2{ width:649px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  font-size:12px;
		  padding-left:14px;}
.pay_td2a{ width:663px;
		  height:30px;
		  line-height:30px;
		  text-align:left;
		  font-size:12px;}
.pay_td3{ width:145px;
		  height:30px;
		  line-height:30px;
		  text-align:center;
		  font-size:12px;}
.pay_td4{ width:22px;
		  height:60px;
		  line-height:60px;
		  text-align:center;
		  font-size:12px;
		  color:#0059BD;
		  overflow:hidden;}
.w53{ width:53px;}
.tdow{ height:110px;
	   line-height:20px;
	   overflow:hidden;}
.pay_tx{ width:100px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;}
.pay_tx2{ width:195px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;}
.pay_tx3{ width:103px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;}
.pay_tx4{ width:43px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;}
.pay_txar{ width:405px;
		   height:100px;
		   border:1px #7E9DB9 solid;
		   line-height:20px;
		   padding:3px;
		   }
.w130{ width:130px;}
.w135{ width:135px;}
.w405{ width:405px;}
/*============================广告主详细信息============================*/
.adgz_tit{ width:174px;
		   height:26px;
		   padding:4px 0px 0px 30px;
		   float:left;}
.ifo_but{ width:52px;
		  height:23px;
		  margin-left:5px;
		  background:url(../images/but_06.jpg) no-repeat;
		  border:none;
		  vertical-align:middle;}
.ifo_cx{ width:52px;
		  height:23px;
		  margin-left:5px;
		  background:url(../images/but_bg.jpg) no-repeat;
		  border:none;
		  vertical-align:middle;
		  color:#000;
		  font-size:12px;}
.ifo_tx{ width:100px;
		 height:20px;
		 line-height:20px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;
		 vertical-align:middle;}
.adv_ifo{ width:909px;
		  height:auto;
		  margin:0 auto;
		  margin-top:25px;
		  border-bottom:1px #E1DFE0 dashed;
		  padding-bottom:30px;}
.ifo2{ padding-bottom:0px;
	   border-bottom:none;}
.ifo_td1{ width:193px;
	      height:30px;
		  line-height:30px;
		  text-align:right;}
.ifo_td2{ width:533px;
	      height:30px;
		  line-height:30px;
		  text-align:left;
		  padding-left:14px;}
.ifo_td3{ width:169px;
		  height:30px;
		  vertical-align:text-top;
		  }
.ifo_log{ width:118px;
		  height:58px;
		  border:1px #DCDCDC solid;
		  }
.chage_but{ width:119px;
		    height:23px;
			background:url(../images/but_05.jpg) no-repeat;
			color:#000;
			border:none;
			margin-top:8px;}
/*==============================一般链接修改================================*/
.adv_link{ width:910px;
	       height:auto;
		   margin:0 auto;
		   margin-top:15px;}
.add_tit{ width:892px;
		  height:30px;
		  line-height:30px;
		  display:block;
		  float:left;
		  font-size:16px;
		  font-family:"黑体";
		  background:url(../images/link_01.jpg) 0px 8px no-repeat;
		  padding-left:18px;
		  border-bottom:1px #E0DEDF dashed;}
.key_tit{ width:892px;
		  height:30px;
		  line-height:30px;
		  display:block;
		  float:left;
		  font-size:16px;
		  font-family:"黑体";
		  background:url(../images/link_02.jpg) 0px 8px no-repeat;
		  padding-left:18px;
		  border-bottom:1px #E0DEDF dashed;}
.pre_tit{ width:892px;
		  height:30px;
		  line-height:30px;
		  display:block;
		  float:left;
		  font-size:16px;
		  font-family:"黑体";
		  background:url(../images/link_03.jpg) 0px 8px no-repeat;
		  padding-left:18px;
		  border-bottom:1px #E0DEDF dashed;}
.add_type{ width:665px;
		   height:auto;
		   padding:28px 0px 24px 0px;
		   float:left;
		   }
.key_type{ width:747px;
		   height:auto;
		   padding:28px 0px 24px 0px;
		   float:left;
		   margin-left:70px;
		   _margin-left:35px;
		   }
.pre_ed{ width:308px;
		 height:auto;
		 float:left;
		 margin:33px 0px 0px 270px;
		 border:1px #D7D7D7 solid;
		 padding:1px;}
.pre_ed2{ width:308px;
		 height:auto;
		 float:left;
		 margin:10px 0px 0px 270px;
		 color:#666666;}
.type_td1{ width:145px;
		   height:40px;
		   line-height:40px;
		   text-align:right;}
.type_td2{ width:507px;
		   height:40px;
		   line-height:40px;
		   text-align:left;
		   padding-left:14px;}
.add_tx{ width:100px;
		 height:18px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;
		 line-height:20px;
		 font-size:12px;
		 color:#999999;}
.add_tx2{ width:300px;
		 height:21px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;
		 line-height:21px;
		 font-size:12px;
		 color:#999999;}
.add_tx3{ width:500px;
		 height:21px;
		 border:1px #7E9DB9 solid;
		 padding-left:3px;
		 line-height:21px;
		 font-size:12px;
		 color:#999999;}
.add_but{ width:64px;
		  height:23px;
		  color:#000;
		  background:url(../images/but02.jpg) no-repeat;
		  margin-left:8px;
		  border:none;
		  font-size:12px;}
.add_but2{ width:64px;
		  height:23px;
		  color:#000;
		  background:url(../images/but01.jpg) no-repeat;
		  margin-left:8px;
		  border:none;
		  font-size:12px;}
.add_but3{ width:64px;
		  height:23px;
		  color:#000;
		  background:url(../images/but03.jpg) no-repeat;
		  margin-left:8px;
		  border:none;
		  font-size:12px;}
.tx_menu{ width:97px;
		  margin-left:10px;
		  _margin-left:5px;
		  height:22px;
		  line-height:22px;
		  border:1px #7E9DB9 solid;
		  font-size:12px;}
.key_td1{ width:122px;
		  height:30px;
		  line-height:30px;
		  font-size:12px;
		  }
.key_menu{ width:13px;
		  height:13px;
		  vertical-align:middle;}
/*=====================================logo弹窗============================*/
.taget{ width:434px;
		height:176px;
		float:left;
		border:2px #666666 solid;}
.tag{ width:100%;
	  height:auto;
	  float:left;
	  background:#EEEEEE;
	  border-bottom:1px #DDDDDD solid;
	  }
.tag_tit{ width:392px;
		  height:29px;
		  float:left;
		  display:block;
		  font-size:14px;
		  font-weight:bold;
		  line-height:29px;
		  padding-left:14px;}
.tag_clos{ width:24px;
		   height:13px;
		   margin-top:6px;
		   display:block;
		   float:left;}
.up_lod{ width:360px;
		 height:auto;
		 float:left;
		 margin:35px 0px 0px 30px;
		 _margin-left:15px;}
.up_tx{ width:297px;
		height:22px;
		border:1px #7E9DB9 solid;
		padding-left:3px;
		float:left;
		display:block;
		line-height:22px;}
.up_pre{ width:49px;
		 height:24px;
		 background:url(../images/tar_01.jpg) no-repeat;
		 line-height:22px;
		 float:left;
		 display:block;
		 border:none;
		 margin-left:8px;}
.up_lod2{ width:360px;
		 height:auto;
		 float:left;
		 display:block;}
.up_but{ width:360px;
		 height:auto;
		 float:left;
		 display:block;
		 text-align:center;
		 margin-top:30px;}
.sub_up{ width:64px;
		 height:23px;
		 background:url(../images/but01.jpg) no-repeat;
		 border:none;
		 }
