@charset "utf-8";
/* CSS Document */
/*login*/
.wrap{background:url(../images/lbg.png) repeat-x;}
.layM{width:1023px;margin:0 auto;background:url(../images/mbg.png) no-repeat;}
.login{width:605px;margin:0 auto;padding-top:130px;}
.lText{width:315px;height:60px;background:url(../images/mj.png) no-repeat;text-indent:-999px;overflow:hidden;margin-left:26px;}
.dwBx{width:605px;height:358px;background:url(../images/login.png) no-repeat;margin-top:15px;}
.lUl{padding:34px 0 0 107px;overflow:hidden;}
.lUl li{height:30px;line-height:30px;margin-bottom:15px;vertical-align:bottom;}
.lUl li label{font-size:14px; font-family:"宋体";margin-right:10px;color:#2e2e2e;}
.dwText{font-size:18px; font-family:"微软雅黑";font-weight:bold;color:#3f3f3f;}
.lUl li input{width:250px;height:30px;line-height:30px;background:url(../images/lInput.png) no-repeat;border:none;padding-left:5px;}
.lUl li .sInput{width:111px;background:url(../images/sInput.png) no-repeat;}
.yzmP{height:26px;margin:5px 0 0 11px;float:left;display:inline;}
.yzmP span{margin-right:12px;}
.yzmP span img{border:1px solid #d8d6d7;}
.yzmP a{color:#0059bd; vertical-align:bottom;}
.submit{width:82px;height:31px;border:none;background:url(../images/submit.png) no-repeat; cursor:pointer;margin:0 auto;display:block;}
/*gg*/
.topGg{height:96px;background:url(../images/gx.png) repeat-x;position:relative;}
.kbBg{height:92px;background:url(../images/kbBg.png) no-repeat bottom left;overflow:hidden;}
.logo{width:213px;height:44px;background:url(../images/logo.png) no-repeat;text-indent:-999px;overflow:hidden;margin:26px 0 0 42px;}
.rPbtn{width:273px;height:34px;background:url(../images/thBtn.png) no-repeat;position:absolute;bottom:4px;right:12px;overflow:hidden;}
.rPbtn a{width:50px;height:34px;float:left;line-height:34px;color:#fff;font-size:14px;padding-left:41px;font-weight:bold;text-decoration:none;}
.rPbtn a:hover{text-decoration:none;}
.gMain{position:relative;background:#f3f4f5 url(../images/leftBg.png) repeat-y;height:auto;min-height:150px;_height:expression((documentElement.clientHeight < 150) ? "150px" : "150");*zoom:1;}
.leftBar{width:188px;height:100%;position:absolute;top:0;left:0}
.lMenu{width:184px;overflow:hidden;}
.lMenu dt{height:37px;line-height:37px;font-size:14px;font-weight:bold;padding-left:48px;background:url(../images/dt.png) repeat-x;}
.lMenu dt a{color:#222;background:url(../images/sjh.png) no-repeat 0 center;padding-left:13px;}
.lMenu .current{background:url(../images/cre.png) bottom;}
.lMenu .current a{background:url(../images/sjl.png) no-repeat 0 center;color:#fff;}
.subMain{background:#f3f4f5;margin:0 12px 0 198px;padding-bottom:10px;}
.listA{height:27px;padding:14px 0 10px 0;overflow:hidden;}
.listA a{height:25px;line-height:25px;display:block;float:left;margin-right:5px;color:#333;text-align:center;}
.alist1{width:50px;border:1px solid #c1c8d2;background:url(../images/jbh.png) repeat-x;}
.alist2{width:81px;background:url(../images/jbl.png) repeat-x;border:1px solid #c0d1e9;}
.ksRq{height:33px;border:1px solid #ced5dd;border-bottom:none;background:url(../images/rq.png) repeat-x;}
.ksRq li{margin-left:10px;display:inline;float:left;color:#333;margin-top:5px\9;}
.ksRq li label{line-height:28px;}
.ksRq li select{width:95px;height:23px;color:#333;border:1px solid #c6c9ca;background:url(../images/slet.png) repeat-x;}
.search{width:184px;height:23px;margin-top:3px;_margin-top:0px;}
.search input{display:block;background:url(../images/search.png) no-repeat;border:none;}
.search .lInput{width:110px;height:23px;line-height:23px;padding-left:25px;float:left;background-position:0 0;}
.search .rInput{width:49px;height:23px;cursor:pointer;float:left;background-position:-135px 0;}
.grayBd{width:100%;border: 1px solid #ced5dd; border: 1px solid #ced5dd;text-align:center;color:#333;background:#fff}
.grayBd th{height:30px;line-height:30px;border: 1px solid #ced5dd;background:url(../images/th.png) repeat-x;text-align:center;color:#0059bd;}
.grayBd td{padding:5px 6px;border: 1px solid #ced5dd;line-height:24px;}
.grayBd td a{color:#0059bd;}
.czA{color:#333;}
.czA a{margin:0 5px;}
/*pages*/
.pages{clear:both; position:relative; height:55px; font-family:simSum; }
.inR{ float:left; position:relative; left:50%; padding:15px 0 0 0;}
.inR a{width:auto;position:relative; left:-50%; display:block; float:left; margin-right:8px; height:18px; *height:17px;background:url(../images/ym.png) repeat-x;
padding:3px 10px 4px 10px;white-space:nowrap;text-align:center;border:1px solid #ccc; font-size:12px;line-height:18px; text-decoration:none;overflow:hidden;}
.pages a:hover{color:#0059bd;}
.pages select{ position:relative; right:50%; float:left;height:25px; line-height:25px; overflow:hidden; font-size:14px;}
.sltext{width:65px;height:27px; margin-top:2px;}
.pages span {position:relative; left:-50%; display:block; float:left; margin-right:9px;height:27px;line-height:27px;overflow:hidden;font-size:14px;color:#666;}
.pages .nolink {width:27px;height:27px;height:27px;display:block;background:url(../images/bf.png) no-repeat;border:none;padding:0; }
.pages .next{width:27px;height:27px;height:27px;display:block;background:url(../images/next.png) no-repeat;border:none;padding:0;}