<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}"/>
<meta name="description" content="{$seo['description']}"/>
<link href="{THEMES_URL}news/css/common.css" type="text/css" rel="stylesheet" />
<link href="{THEMES_URL}news/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{JS_URL}idtabs.js"></script>
</head>
<body>
    <div class="TopTool">
        <div class="ToolBox">
            <div class="fl">
                <span>设为首页</span>
                <span>收藏</span>
            </div>
            <div class="fr"><span>登陆</span><span>注册</span></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="header">
        <div class="logo">
            <img src="{THEMES_URL}news/images/logo.gif" class="logo_img"/>
            <div class="header_search">
                <div class="search_select">资讯</div>
                <input type="text" name="" value="" class="search_input"/>
                <input type="submit" name="" class="dosearch" value="搜索"/>
            </div>
        </div>
        <div class="clear"></div>
        <div class="nav">
            <div class="nav_box">
                <ul>
                    <li><strong><a href="">新闻</a></strong></li>
                    <li><a href="">评论</a></li>
                    <li><a href="">图片</a></li>
                </ul>
                <ul>
                    <li><strong><a href="">新闻</a></strong></li>
                    <li><a href="">评论</a></li>
                    <li><a href="">图片</a></li>
                </ul>
                <ul>
                    <li><strong><a href="">新闻</a></strong></li>
                    <li><a href="">评论</a></li>
                    <li><a href="">图片</a></li>
                </ul>
            </div>
            <div class="nav_box">
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
            </div>
            <div class="nav_box">
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
            </div>
            <div class="nav_box">
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
            </div>
            <div class="nav_box">
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
            </div>
            <div class="nav_box">
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
            </div>
            <div class="nav_box nav_box-nobd">
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
                <ul>
                    <li><strong>新闻</strong></li>
                    <li>评论</li>
                    <li>图片</li>
                </ul>
            </div>
        </div>
    </div>